:root {
    --fuente-estandar: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    --claro-primario: #D0DDD0;
    --oscuro-primario: #000000;
}

body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: var(--claro-primario);
}

.logo {
    height: 300px;
    width: 300px;
}

.titulo {
    font-family: var(--fuente-estandar);
    font-size: 40px;

    text-align: center;
}

button {
    margin-top: 1rem;

    height: 60px;
    width: 400px;

    border-radius: 30px;
    border-style: none;

    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.3);

    transition: scale 0.3s ease, box-shadow 0.3s ease;
}

button i {
    font-size: 24px;
    vertical-align: middle;

    font-weight: 400;
}

button:hover {
    scale: 1.2;
    box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.5);
}

.agregar {
    background-color: var(--oscuro-primario);

    color: var(--claro-primario);
}

.perfil1 {
    background-color: var(--claro-primario);
}

.perfil2 {
    background-color: var(--claro-primario);
}

.btnSalir {
    width: 120px;
    background-color: var(--oscuro-primario);
    color: var(--claro-primario);

    position: absolute !important;
    top: 20px;
    left: 20px;
}

/* Diseño de Toast con un Blur global */

.blur {
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: rbga(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    position: absolute;

    z-index: 999;
}

.hidden {
    display: none !important;
}

.toast {
    height: 50%;
    width: 50%;

    border-radius: 30px;
    background-color: rgba(208, 221, 208, 0.7);
    box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

/* Diseño de Toast con un Blur global */